# FILE: RecepCal/docker-compose.yml

version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    # A seção 'env_file' foi REMOVIDA daqui. 
    # O Portainer usará as variáveis que você inseriu na interface.
    networks:
      - recepcal-net
    deploy:
      restart_policy:
        condition: on-failure

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    networks:
      - recepcal-net
    depends_on:
      - backend
    deploy:
      restart_policy:
        condition: on-failure

networks:
  recepcal-net: