
<section class="content-area" id="calendar-view">
    <div class="calendar-wrapper">
        <header class="calendar-new-header">
            <div class="header-left">
                <h1 id="current-year"></h1>
            </div>
            <div class="header-center">
                <button class="nav-btn-new" id="prev-month-btn"><i class="fas fa-chevron-left"></i></button>
                <div>
                    <h2 id="current-month"></h2>
                </div>
                <button class="nav-btn-new" id="next-month-btn"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="header-right"></div>
        </header>
        <div class="calendar-grid-new">
            <div class="day-of-week-new">Dom</div>
            <div class="day-of-week-new">Seg</div>
            <div class="day-of-week-new">Ter</div>
            <div class="day-of-week-new">Qua</div>
            <div class="day-of-week-new">Qui</div>
            <div class="day-of-week-new">Sex</div>
            <div class="day-of-week-new">Sáb</div>
        </div>
        <div class="calendar-days-new" id="calendar-days"></div>
    </div>

    <div id="timeline-wrapper" style="display: none;">
    </div>
</section>