
<div id="booking-tool-content">
    <div class="booking-header">
        <h3 id="booking-tool-title"></h3>
    </div>
    <div id="booking-content-wrapper" class="booking-wrapper">
        <div class="calendar-container">
            <div class="calendar-header">
                <button id="booking-prev-month" title="Mês Anterior"><i class="fas fa-chevron-left"></i></button>
                <h3 id="booking-month-year"></h3>
                <button id="booking-next-month" title="Próximo Mês"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="calendar-grid">
                <div class="day-name">DOM</div>
                <div class="day-name">SEG</div>
                <div class="day-name">TER</div>
                <div class="day-name">QUA</div>
                <div class="day-name">QUI</div>
                <div class="day-name">SEX</div>
                <div class="day-name">SÁB</div>
            </div>
            <div id="booking-calendar-days" class="calendar-grid"></div>
        </div>
        <div id="booking-slots-container" class="slots-container">
            <p>Selecione um dia disponível no calendário.</p>
        </div>
    </div>
</div>